@use "../abstracts/variables";
@use "../abstracts/mixins";

.subscribe {
  display: flex;
  gap: 10rem;
  flex-direction: column;

  &__banner {
    @include mixins.centered-flex;
    width: 100%;
    flex-direction: row;
    border-radius: 3.2rem;
    background: url("../assets/subscribeAssets/subscribeBG.png") no-repeat;
    background-size: cover;
    @include mixins.respond-to(medium) {
      padding: 4.4rem 4rem;
      max-height: 31.2rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;

    @include mixins.respond-to(large) {
      flex-direction: row;
    }
  }

  &__text {
    @include mixins.centered-flex;
    flex-direction: column;
  }

  &__left, &__right {
    padding: 4rem;
    @include mixins.centered-flex;
    box-shadow: variables.$shadow;
    border-radius: 0.8rem;
    flex-direction: column;
  }

  &__left {
    gap: 2.8rem;
    background: url("../assets/subscribeAssets/v2.svg"), url("../assets/subscribeAssets/v1.svg");
    background-repeat: no-repeat;
    background-position: 15% 95%, 85% 90%;
    background-size: contain;
    background-origin: padding-box;

    @include mixins.respond-to(large) {
      flex: 1 1 40%;
    }
  }

  &__right {

    @include mixins.respond-to(large) {
      flex: 1 1 60%;
    }
  }

  &__paragraph {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: variables.$color-grey-3;
    text-align: center;
  }

  &__separator {
    padding: 2.4rem 0;
  }

  &__create-pic {
    padding: 3rem;
    @include mixins.centered-flex;
  }

  &__create-img {
    width: 22.8rem;
    height: 17.8rem;
  }
}

.banner {
  &__left, &__right {
    display: none;

    @include mixins.respond-to(large) {
      width: 100%;
      flex: 1 1 30%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }

  &__header {
    &--big {
      display: none;
      @include mixins.respond-to(small) {
        display: flex;
      }
    }

    &--small {
      @include mixins.respond-to(small) {
        display: none
      }
    }
  }

  &__title {
    font-size: 2rem;
    text-align: center;
    line-height: 3.2rem;
  }

  &__form {
    padding: 1.6rem;

    @include mixins.respond-to(large) {
      padding: 0 10rem;
    }
  }

  &__pill-1, &__pill-2, &__pill-3, &__pill-4 {
    display: flex;
  }

  &__pill-1 {
    border: 2px solid variables.$color-white;
    border-radius: 2.4rem;
    width: 8rem;
    height: 8rem;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  &__pill-2 {
    width: 3.4rem;
    height: 3.4rem;
    border: 2px solid variables.$color-white;
    border-radius: 100%;
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  &__pill-3 {
    width: 3.4rem;
    height: 3.4rem;
    border: 2px solid variables.$color-white;
    border-radius: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 6;
    grid-row-end: 8;
  }

  &__pill-4 {
    width: 5.2rem;
    height: 5.2rem;
    border: 2px solid variables.$color-white;
    border-radius: 2.4rem;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 7;
    grid-row-end: 9;
  }
}