@use "../abstracts/variables";

//RWD breakpoints
@mixin respond-to($breakpoint) {
  @if map-has-key(variables.$breakpoints, $breakpoint) {
    @media (min-width: map-get(variables.$breakpoints, $breakpoint)) {
      @content;
    }
  }
}

//coloring hack
@mixin color-svg($color, $url) {
  background-color: $color;
  -webkit-mask-image: url($url);
  mask-image: url($url);
}

//flex centered
@mixin centered-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

//grid assingment inputs
@mixin set-grid-inputs($index) {
  input.form__input:nth-of-type(#{$index}) {
    grid-row-start: #{$index};
    grid-row-end: #{$index + 1};
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

//grid assingment labels
@mixin set-grid-labels($index) {
  label.form__label:nth-of-type(#{$index}) {
    grid-row-start: #{$index};
    grid-row-end: #{$index + 1};
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
